* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-image: url(./svg/header\ dumalo\ 16\ \(1\).svg), url(./svg/dumalo\ background\ 378\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: top 0 left 0, right 0 top 350px;
  background-color: #F5F5F7;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header-ul {
  margin-top: 98px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.header-ul .icon-napa {
  width: 100%;
  max-width: 360px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.header-ul .navbar-all {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul li {
  position: relative;
  display: flex;
  gap: 32px;
  padding-bottom: 6px;
}
.header-ul li a {
  font-size: 23px;
  color: #1D71B8;
}
.header-ul li .link-jobs::before {
  content: "";
  position: absolute;
  width: 14%;
  height: 10px;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 1;
  background-color: #1D71B8;
}
.header-ul li .line-bottom::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 10px;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  border-radius: 20px;
}
.header-ul .selects {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header-ul .selects select {
  padding: 8px 15px;
  border-radius: 8px;
}
.header-ul .nav-button {
  display: none;
}

.nav .michel-texts {
  width: 100%;
  max-width: 860px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .michel-texts .michel-text h2 {
  font-size: 30px;
}
.nav .michel-texts .michel-text p {
  font-size: 25px;
}
.nav .michel-texts .opoqi {
  width: 100%;
  max-width: 90px;
}
.nav .michel-texts .michel-input {
  text-align: center;
}
.nav .michel-texts .michel-input .foiz {
  line-height: normal;
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.nav .michel-texts .michel-input p {
  color: gray;
  font-size: 20px;
}
.nav .michel-texts .houry {
  text-align: center;
  line-height: 30px;
}
.nav .michel-texts .houry h4 {
  font-size: 25px;
  font-weight: 600;
}
.nav .michel-texts .houry p {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}
.nav .michel-texts .michel-icon {
  padding: 10px;
  border: 1px solid #1D71B8;
  border-radius: 8px;
  transition: 0.3s;
}
.nav .michel-texts .michel-icon i {
  font-size: 25px;
  color: #1D71B8;
}
.nav .michel-texts .michel-icon:hover {
  background-color: #073a6e;
  color: white;
  cursor: pointer;
}
.nav .michel-texts .michel-icon:hover i {
  color: #fff;
}

.michel-display {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.michel-all {
  width: 100%;
  max-width: 860px;
  padding-top: 30px;
  position: relative;
}
.michel-all .michel-lorem {
  width: 100%;
  max-width: 860px;
}
.michel-all .michel-lorem h5 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 34px;
}
.michel-all .michel-lorem p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 34px;
}
.michel-all .michel-lorem .lorem-link-all {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.michel-all .michel-lorem .lorem-link-all .michel-lorem-link {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #1D71B8;
  padding-top: 20px;
}
.michel-all .michel-lorem .lorem-link-all .see-public {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #1D71B8;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
}
.michel-all .michel-lorem .lorem-link-all .see-public:hover {
  background-color: #073a6e;
  cursor: pointer;
}
.michel-all .portfolio-all {
  padding-top: 70px;
}
.michel-all .portfolio-all .portfolio14 {
  padding-bottom: 20px;
}
.michel-all .portfolio-all .boxs {
  width: 100%;
  max-width: 860px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  border: 1px solid red;
  gap: 30px;
}
.michel-all .portfolio-all .boxs .boxs-child-father {
  width: 100%;
  border: 1px solid green;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child {
  background-color: #fff;
  border-radius: 12px;
}
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child img {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child h3 {
  font-size: 20px;
}
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child p {
  color: rgba(128, 128, 128, 0.5019607843);
}
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child h3,
.michel-all .portfolio-all .boxs .boxs-child-father .boxs-child p {
  padding: 7px 10px;
}
.michel-all .work-history {
  width: 100%;
  max-width: 860px;
}
.michel-all .work-history .work {
  font-size: 30px;
  padding-top: 50px;
}
.michel-all .work-history .work-links-title {
  padding-top: 10px;
}
.michel-all .work-history .odoo {
  padding-top: 20px;
}
.michel-all .work-history .odoo .odoo-all {
  margin-top: 10px;
  padding: 10px 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.michel-all .work-history .odoo .odoo-all .odoo-child h2 {
  color: #1D71B8;
}
.michel-all .work-history .odoo .odoo-all .odoo-child i {
  padding: 10px 0px;
  color: #1D71B8;
}
.michel-all .work-history .odoo .odoo-all .odoo-child p {
  padding: 10px 0px;
}
.michel-all .work-history .odoo .odoo-all .odoo-child .odoo-star {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.michel-all .work-history .odoo .odoo-all .odoo-child .odoo-star .odoo-icon-august {
  font-size: 16px;
  color: #808080;
}
.michel-all .work-history .odoo .odoo-all .napa {
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: space-between;
}
.michel-all .work-history .odoo .odoo-all .napa .napa-img {
  width: 100%;
  max-width: 291px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.michel-all .work-history .odoo .odoo-all .napa .napa-img .verified {
  max-width: 90px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.michel-all .work-history .odoo .odoo-all .napa .houry-all {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}
.michel-all .work-history .odoo .odoo-all .napa .houry-all .napa-houry {
  text-align: center;
  line-height: 30px;
}
.michel-all .work-history .odoo .odoo-all .napa .houry-all .napa-houry h4 {
  font-size: 20px;
}
.michel-all .work-history .odoo .odoo-all .napa .houry-all .napa-houry p {
  color: rgba(128, 128, 128, 0.5019607843);
}
.michel-all .work-history .odoo .odoo-see {
  font-size: 23px;
  padding: 50px 0;
  text-align: center;
  color: #1D71B8;
  margin: auto;
}

.michel2 {
  padding-top: 80px;
  padding-left: 20px;
  width: 450px;
  height: auto;
  background-position: right 0 top 150px;
}
.michel2 .numbers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 15px;
}
.michel2 .numbers .earning h4 {
  font-size: 25px;
}
.michel2 .numbers .earning p {
  font-size: 16px;
  color: rgba(128, 128, 128, 0.5019607843);
}
.michel2 .available {
  padding: 15px 0px;
}
.michel2 .available .available-text {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .available .available-text h3 {
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 5px;
}
.michel2 .available .available-text i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #1D71B8;
  transition: 0.3s;
}
.michel2 .available .available-text i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .available p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.michel2 .languages {
  padding-top: 20px;
}
.michel2 .languages .languages-text {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .languages .languages-text h3 {
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 5px;
}
.michel2 .languages .languages-text i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #1D71B8;
  transition: 0.3s;
}
.michel2 .languages .languages-text i:hover {
  color: #fff;
  background-color: #073a6e;
}
.michel2 .languages p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 30px;
  padding-bottom: 5px;
}
.michel2 .verifications {
  padding: 15px 0px;
}
.michel2 .verifications h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.michel2 .verifications .verified {
  padding-top: 15px;
  display: flex;
}
.michel2 .verifications .verified p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.michel2 .educations {
  padding-bottom: 20px;
}
.michel2 .educations .educations-texts {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .educations .educations-texts h3 {
  color: var(--Black, #323232);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.michel2 .educations .educations-texts i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #1D71B8;
  transition: 0.3s;
}
.michel2 .educations .educations-texts i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .educations .educations-text {
  width: 100%;
}
.michel2 .educations .educations-text p {
  width: 100%;
  max-width: 350px;
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-top: 20px;
}
.michel2 .experience {
  padding: 20px 0px;
}
.michel2 .experience .experience-text {
  width: 100%;
  max-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .experience .experience-text h3 {
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 5px;
}
.michel2 .experience .experience-text i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
  color: #1D71B8;
}
.michel2 .experience .experience-text i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .experience p {
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.michel2 .skills {
  padding: 20px 0;
}
.michel2 .skills .skill {
  width: 100%;
  max-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .skills .skill h3 {
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 5px;
}
.michel2 .skills .skill i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #1D71B8;
}
.michel2 .skills .skill i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .skills .skills-buttons {
  width: 100%;
  max-width: 315px;
  display: flex;
  justify-content: space-between;
}
.michel2 .skills .skills-buttons .skill-button {
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(41, 115, 152, 0.25);
  background: var(--White, #FFF);
  font-size: 18px;
  color: #1D71B8;
  padding: 6px 10px;
  border-radius: 6px;
}
.michel2 .contacts {
  padding: 25px 0;
}
.michel2 .contacts .contact-text {
  width: 100%;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .contacts .contact-text h3 {
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 5px;
}
.michel2 .contacts .contact-text i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
  color: #1D71B8;
}
.michel2 .contacts .contact-text i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .contacts .locals .telegram {
  color: #40B3E0;
}
.michel2 .contacts .locals .whatsapp {
  color: #39AE41;
}
.michel2 .contacts .locals .facebook {
  color: #004F9D;
}
.michel2 .contacts .locals .instagram {
  color: rgb(241, 109, 131);
}
.michel2 .contacts .locals .twitter {
  color: #55ACEE;
}
.michel2 .contacts .locals .local-child {
  width: 100%;
  max-width: 150px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}
.michel2 .contacts .locals .local-child i {
  font-size: 24px;
}
.michel2 .contacts .locals .local-child a {
  color: var(--Black, #323232);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.michel2 .living-adress {
  padding: 20px 0;
}
.michel2 .living-adress .living-text {
  width: 100%;
  max-width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.michel2 .living-adress .living-text h3 {
  color: var(--Black, #323232);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.michel2 .living-adress .living-text i {
  border: 1px solid #1D71B8;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #1D71B8;
  transition: 0.3s;
}
.michel2 .living-adress .living-text i:hover {
  background-color: #073a6e;
  color: #fff;
}
.michel2 .living-adress .map {
  width: 100%;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
}
.michel2 .living-adress .map i {
  font-size: 20px;
  color: #1D71B8;
}
.michel2 .living-adress .map p {
  color: var(--Gray, #808080);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.michel2 .member-since {
  padding: 20px 0;
}
.michel2 .member-since h3 {
  color: var(--Black, #323232);
  letter-spacing: 3px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.michel2 .member-since p {
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.michel2 .member-since a {
  background: var(--blue-main-colour, #1D71B8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.michel2 .member-since a:hover {
  background-color: #073a6e;
}

.line-left::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: 882px;
  border: 1px solid #CDCDCD;
}

@media screen and (max-width: 1200px) {
  .navbar-all {
    max-width: 270px !important;
    justify-content: end;
  }
  .navbar-all li {
    display: none;
  }
  .navbar-all .nav-button {
    display: block;
  }
  .body .media-buttons {
    display: none;
  }
  .body .navbar-ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .body .navbar-ul a {
    font-size: 23px;
    color: #1D71B8;
  }
}
@media screen and (max-width: 1024px) {
  .nav .michel-texts {
    flex-wrap: wrap;
  }
  .nav .michel-texts .michel-text h2 {
    font-size: 20px;
  }
  .nav .michel-texts .michel-text p {
    font-size: 19px;
  }
  .nav .michel-texts .michel-input {
    text-align: center;
  }
  .nav .michel-texts .michel-input .foiz {
    line-height: normal;
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  .nav .michel-texts .michel-input p {
    color: gray;
    font-size: 15px;
  }
  .nav .michel-texts .houry {
    text-align: center;
    line-height: 30px;
  }
  .nav .michel-texts .houry h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .nav .michel-texts .houry p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (max-width: 800px) {
  .navbar-all {
    justify-content: end !important;
  }
  .navbar-all .selects {
    display: none;
  }
  .offcanvas {
    height: 200px !important;
  }
  .body {
    display: flex;
    align-items: center !important;
    padding: 0px 10px;
    gap: 20px;
  }
  .body .media-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 5px;
    gap: 5px;
    border: 1px solid gray;
  }
  .body .media-buttons button {
    width: 100%;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 25px;
    border: 1px solid #004F9D;
    color: #073a6e;
  }
  .body .media-buttons .lang_active {
    background-color: #1D71B8;
    color: #FFF;
  }
  .body .navbar-ul {
    width: 100%;
    text-align: center !important;
    margin: 0px !important;
    padding: 5px !important;
  }
  .michel2 {
    width: 100%;
    padding-top: 10px;
    margin: auto;
  }
  .michel2 .numbers {
    text-align: center;
    margin: auto;
  }
  .michel-display {
    flex-wrap: wrap;
  }
  .michel-all .portfolio-all .boxs {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  .work-history .odoo .napa {
    flex-wrap: wrap;
  }
  .work-history .odoo .napa .houry-all {
    margin: auto;
  }
  .michel-all .michel-lorem .lorem-link-all {
    flex-wrap: wrap;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */