* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1450px;
  border: 1px solid red;
  margin: 0 auto;
  padding: 0 20px;
}

.automative-all {
  padding-top: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.automative-all .title-text h1 {
  color: #1D71B8;
}

.title-links {
  width: 100%;
  max-width: 840px;
  text-align: center;
}
.title-links a {
  width: 100%;
  font-size: 23px;
  margin: 0 16px;
  font-weight: 500;
  color: #1D71B8;
}
.title-links .select {
  margin: 0px 15px;
  border-radius: 8px;
  background: var(--Background-colour, #F5F5F7);
  box-shadow: 0px 0px 5px 0px rgb(122, 122, 227);
  border: none;
}
.title-links .select1 {
  width: 100%;
  max-width: 210px;
  height: 44px;
  padding: 4px 20px;
  background-image: url(./svg/Rectangle\ 266.svg);
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: left 10px top 2px;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
}
.title-links .select1 img {
  position: absolute;
  top: 30px;
}
.title-links .select2 {
  width: 90px;
  height: 44px;
  padding: 8px 20px;
  font-size: 23px;
}

.main {
  padding-top: 120px;
}

.main-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section1 {
  width: 100%;
  max-width: 930px;
  border: 1px solid red;
}
.section1 .section-input {
  padding-bottom: 20px;
  display: flex;
}
.section1 .section-input input {
  width: 100%;
  height: 54px;
  display: flex;
  border-radius: 8px 0px 0px 8px;
  color: var(--Gray, #808080);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 0px 20px;
  line-height: normal;
  border: 2px solid #1D71B8;
  outline-color: #1D71B8;
}
.section1 .section-input i {
  padding: 15px 33px;
  background-color: #1D71B8;
  color: white;
  font-size: 23px;
  border-radius: 0px 8px 8px 0px;
}
.section1 .boxs .boxs-child {
  margin-top: 10px;
  border-radius: 12px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.section1 .boxs .boxs-child .item-site {
  border-top: 1px solid gray;
  padding: 15px 0;
}
.section1 .boxs .boxs-child .item-site .item-site-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .boxs .boxs-child .item-site .item-site-buttons .button-level p {
  font-size: 18px;
}
.section1 .boxs .boxs-child .item-site .item-site-buttons .item-button-childs button {
  margin: 0 5px;
  padding: 6px 10px;
  color: #1D71B8;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  background: var(--White, #FFF);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
}
.section1 .boxs .boxs-child .item-site .item-site-day {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .boxs .boxs-child .item-site .item-site-day p {
  font-size: 16px;
}
.section1 .boxs .boxs-child .item-site .item-site-day .location {
  display: flex;
}
.section1 .boxs .boxs-child .item-site .item-site-day .location i {
  color: #1D71B8;
}
.section1 .boxs .boxs-child .item-site .item-site-day .location p {
  color: #808080;
}
.section1 .boxs .boxs-child .person-texts {
  padding: 15px 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section1 .boxs .person-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.section1 .boxs .person-item .info-numbers {
  padding-left: 100px;
  max-width: 500px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .boxs .person-item .info-numbers .item-number {
  border-left: 1px solid gray;
  padding: 0px 20px;
}
.section1 .boxs .person-item .info-numbers .item-number h3 {
  font-size: 20px;
  font-weight: 600;
}
.section1 .boxs .person-item .info-numbers .item-number p {
  color: var(--Gray, #808080);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.michel-info {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border: 1px solid green;
}
.section2 .filter .filter-title {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section2 .filter .payment h3 {
  color: var(--Black, #323232);
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section2 .filter .jobs {
  width: 100%;
  margin-top: 20px;
}
.section2 .filter .jobs label {
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section2 .filter .jobs input {
  width: 100%;
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 8px;
  outline-color: #CDCDCD;
  background: var(--White, #FFF);
  border: 1px solid #CDCDCD;
  color: var(--Gray, #808080);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section2 .filter .required {
  margin-top: 20px;
}
.section2 .filter .required h3 {
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section2 .filter .required .required-inputs {
  display: flex;
}
.section2 .filter .required .required-inputs .required-child {
  margin-top: 10px;
  width: 100%;
}
.section2 .filter .required .required-inputs .required-child label {
  color: var(--Black, #323232);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid red;
}
.section2 .filter .required .required-inputs .required-child input {
  width: 100%;
  padding: 15px 20px;
  color: var(--Black, #323232);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section2 .payment-inputs {
  display: flex;
  justify-content: space-between;
}
.section2 .payment-inputs .payment-input-child {
  width: 180px;
  margin-top: 10px;
}
.section2 .payment-inputs .payment-input-child label {
  color: var(--Black, #323232);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section2 .payment-inputs .payment-input-child input {
  width: 180px;
  height: 54px;
  padding: 15px 20px;
  margin-top: 8px;
  border: 1px solid #CDCDCD;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  outline-color: #CDCDCD;
  border: 1px solid #CDCDCD;
  background: var(--White, #FFF);
}/*# sourceMappingURL=talant.css.map */